.topPosition0:hover {
    background-color: #007f639a;
}

.playerBody {
    position: fixed;
    min-width: 100%;
    height: auto;
    background-color: #94949488;
    border-top: 1px solid aliceblue;
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
    border: none;
    bottom: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
}

.songName {
    max-width: 80%;
    min-width: 60%;
    text-align: center;
    font-size: small;
    height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0px 5px;
}

.songNameTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.songNameTime p {
    font-size: x-small;
}

.songNameTime p:nth-child(2) {
    font-size: 1rem;
}

.songPosition {
    max-width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    gap: 5px 0;
}

.songPosition div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    text-shadow: 1px 1px 1px black;
}

.songPosition input {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
}

.songPosition input[type="range"]:hover {
    opacity: 1;
}

.songPosition input[type="range"]:active {
    opacity: 1;
}

.songPosition input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #f44336;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
}

.songPosition input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
}

.songPosition input[type="range"]:active::-webkit-slider-thumb {
    opacity: 1;
}

.playBtns {
    display: flex;
    max-width: 100%;
    column-gap: 10%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.prevBtn {
    transform: rotate(180deg);
}

.playBtn,
.nextBtn,
.prevBtn {
    border-radius: 45%;
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    text-align: center;
    align-content: center;
    overflow: hidden;
    text-shadow: 1px 1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black,
        -1px -1px 0px black;
}

.prevBtn,
.nextBtn {
    min-height: 30px;
    min-width: 30px;
}

.playBtn {
    min-height: 40px;
    min-width: 40px;
}

.sound {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    background-color: #001e3de3;
}

.changeSound {
    border-radius: 10px;
    background-color: #008b8b57;
}

@media screen and (max-width: 600px) {
    .changeSound {
        right: -25%;
    }
}

.changeSound input {
    height: 100%;
    width: 100%;
}

#progress {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    max-width: 600px;
    background-color: #00000075;
    margin-top: 5px;
    box-shadow: inset 2px 2px 2px #f5f5f582, inset -2px -2px 2px #0000007d;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(255, 127, 191);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border: 5px solid #f8e0c4;
}

.hide::-webkit-slider-thumb {
    display: none;
}

.image {
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 0 5px 4px #ff7fbf,
        0 0 5px 8px #f8e0c4;
    margin-left: 2%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.image img {
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    border: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.controls {
    width: calc(100dvw - 80px);
}

.displayPlayerScreen {
    position: absolute;
    top: 0px;
    left: 0;
    width: 35px;
    border: none;
    font-size: large;
    border-top-right-radius: 50%;
    height: 25px;
    background-color: #94949400;
    text-shadow: 2px 2px 2px black;
    transform: rotate(-90deg);
}

.playerScreen {
    width: 100%;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #000000db, rgb(32 80 96 / 50%));
    backdrop-filter: blur(10px);
    z-index: 19;
}

.playerScreenHeader {
    border: none;
}

.playerScreenHeader button {
    background-color: transparent;
    transform: rotate(180deg);
    border: none;
    font-size: larger;
    padding: 10px;
    text-shadow: -2px -2px 2px black;
}

.songImage {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.songImage div {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 4px 10px black, -2px -2px 10px oldlace;
    width: 50dvw;
    max-width: 200px;
    max-height: 200px;
    height: 50dvw;
}
.songImage div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.songImage svg {
    transform: rotateY(180deg);
    width: 100dvw;
    height: 100dvw;
    max-width: 340px;
    max-height: 340px;
}

.songImage circle {
    fill: none;
    filter: drop-shadow(0px 0px 4px rgba(225, 225, 225, 0.5));
    stroke-width: 12px;
    stroke-dasharray: 440;
    transform-origin: center;
    stroke-linecap: round;
    cx: 170;
    cy: 170;
    r: 140;
}

.songImage circle:nth-child(1) {
    stroke: #0f0f0f;
    stroke-dasharray: 440;
}

.songImage circle:nth-child(2) {
    stroke: #501f9b;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (440 * 50) / 100);
}

.songImage circle:nth-child(3) {
    stroke: #f2f0f400;
    stroke-dasharray: 440;
    cursor: pointer;
}


.volMute {
    color: transparent;
    position: relative;
    right: -48px;
    bottom: 35px;
    filter: drop-shadow(0px 0px 3px white);
}

.vol {
    color: transparent;
    position: relative;
    bottom: 32px;
    left: -45px;
    filter: drop-shadow(0px 0px 3px white);
}

.titles{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
}
.titles p{
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
.titles p:nth-child(1){
    font-size: xx-large;
    font-family: ui-sans-serif;
    filter: drop-shadow(0px 0px 4px black);
    letter-spacing: 0.1rem;
    color: #ffbfac;
}
.titles p:nth-child(2){
    font-size: small;
    font-family: cursive;
    filter: drop-shadow(0px 0px 4px white);
    letter-spacing: 0.2rem;
    color: #faebd7b0;
}
@media screen and (max-width: 375px) {
    .songImage svg {
        min-width: 100dvw;
        min-height: 100dvw;
    }
    .songImage circle {
        cx: 188;
        cy: 188;
        r: 124;
    } 
    .songImage circle:nth-child(1) {
        stroke-dasharray: 390;
    }
    
    .songImage circle:nth-child(2) {
        stroke-dasharray: 830;
        stroke-dashoffset: calc(830 - (390 * 50) / 100);
    }
    
    .songImage circle:nth-child(3) {
        stroke-dasharray: 390;
    }

    .vol{
        left: -75px;
    }
    .volMute{
        right: -75px;
    }
}

@media screen and (max-width: 320px) {
    .songImage circle {
        cx: 165;
        cy: 165;
        r: 110;
    } 
    .songImage circle:nth-child(1) {
        stroke-dasharray: 350;
    }
    
    .songImage circle:nth-child(2) {
        stroke-dasharray: 790;
        stroke-dashoffset: calc(790 - (350 * 50) / 100);
    }
    
    .songImage circle:nth-child(3) {
        stroke-dasharray: 350;
    }
    .vol{
        left: -68px;
    }
    .volMute{
        right: -60px;
    }
}
